<h2>Добавление новой книги</h2>
<form method="post">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="author">Автор</label>
      <input type="text" class="form-control" id="author" name="author" placeholder="Автор">
      <% if @errors %>
        <%= @errors[:space] %>
      <% end %>
    </div>
    <div class="form-group col-md-3">
      <label for="name">Название</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Название">
      <% if @errors %>
        <%= @errors[:space] %>
      <% end %>
    </div>
    <div class="form-group col-md-3">
    <label for="genre">Жанр</label>
    <input type="text" class="form-control" id="genre" name="genre" placeholder="Жанр">
    <% if @errors %>
        <%= @errors[:space] %>
      <% end %>
    </div>
    <div class="form-group ">
    <label for="price">Цена</label>
    <input type="number" class="form-control" id="price" name="price" placeholder="300">
    <% if @errors %>
      <%= @errors[:number_format] %>
    <% end %>
    </div>
  </div>
 
  <button type="add_book" class="btn btn-primary">Добавить книгу</button>
</form>
<% if @contain %>
<%= @contain %>
<% end %>