<h2>Результаты поиска по названию</h2>
<div>
  <ol>
    <% @search_result.each do |book| %>
      <li>
        <dl>
          <dd class="card-text" id=author name=author><%= "Автор: #{book.author}" %></dd>
          <dd class="card-text" id=name name=name><%= "Название: #{book.name}" %></dd>
          <dd class="card-text" id=genre name=genre><%= "Жанр: #{book.genre}"%></dd>
          <dd class="card-text" id=price name=price><%= "Цена: #{book.price}"%></dd>
          <dd class="card-text" id=count name=count><%= "Количество: #{book.count}"%></dd>
          <br />
        </dl>
      </li>
    <% end %>
  </ol>
  <% if !@errors.empty?%>
    <%= @errors[:not_founded] %>
  <% end %>
</div>